:root {
  --main-bg: #FFFFFF;
  --grey-bg: rgba(237, 237, 237, 0.72);
  --ummc-orange: #FF7C00;
  --ummc-blue: #4C5C6B;
  --ummc-dark-blue: #1C242E;
  --ummc-main-text: #202020;
  --ummc-title-light: rgba(32, 32, 32, 0.15);
  --ummc-secondary-text: #202020B2;
  --title-size: 100px;
  --subtitle-size: 40px;
  --plain-big-size: 30px;
  --plain-text: 14px;
  font-variant-numeric: lining-nums;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
.container{
  max-width: 1287px;
  padding: 0 20px;
  margin: 0 auto;
  font-family: "RF Dewi Expanded";
}
header > .container {
  max-width: 1440px;
}
a{
  text-decoration: none;
}
.about{
  padding: 64px 0 137px 0;
  background-color: var(--grey-bg);
}
.about__title{
  font-weight: 600;
  font-size: 100px;
  line-height: 144px;
  letter-spacing: -0.03em;
  color: var(--ummc-title-light);
  font-family: 'RF Dewi Expanded';
  margin-bottom: 85px;
}
.about__inner{
  display: flex;
  gap: 80px;
}
.about__img1{
  margin-left: 226px;
  margin-top: -135px;
}
.about__text + .about__text{
  margin-top: 56px;
}
.about__text-strong{
  font-family: 'RF Dewi Expanded';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.03em;
  color: var(--ummc-secondary-text);
  margin-bottom: 56px;
}
.black{
  color: var(--ummc-main-text);
}
.about__text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--ummc-main-text);
  letter-spacing: 0.015em;
}
.about__text-box{
  max-width: 543px;
}
.activity__text{
  color: var(--ummc-orange);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 44px;
  max-width: 1000px;
}
.activity {
  margin-top: 118px;
}
.carousel__item-text{
  font-family: 'RF Dewi Expanded';
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: var(--main-bg);
  margin: 65px 0 0 32px;
}
.carousel__item{
  width: 392px;
  height: 455px;
  margin: 33px 18px;
  transition: .4s;
  background-size: cover;
  margin-top: 33px;
}
.carousel__item1{
  background-image: url(../images/po.jpg);
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel__item2{
  background-image: url(../images/support.jpg);
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel__item3{
  background-image: url(../images/re.jpg);
  background-color: rgba(0, 0, 0, 0.5);
}
.slick-current {
  height: 521px !important;
  margin-top: 0 !important;
  margin-bottom: 0;
}
.footer__top{
  display: flex;
  padding: 66px 0 71px;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(76, 92, 107, 0.12);
  margin-bottom: 16px;
}
.footer__contacts-item +.footer__contacts-item{
  margin-top: 34px;
}
.footer__contacts{
  margin-right: 80px;
}
.footer__contacts-phone{
  font-family: 'RF Dewi Expanded';
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-main-text);
  margin-bottom: 4px;
  font-weight: 600;
}
.footer__contacts-chart{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  color: var(--ummc-blue);
  font-weight: 400;

}
.contacts__days{
  margin-right: 16px;
}
.footer__contacts-mail{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  color: var(--ummc-blue);
  margin-bottom: 4px;
  font-weight: 400;
}
.footer__location-title{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 400;
  color: var(--ummc-blue)
}
.footer__location-text{
  font-family: 'RF Dewi Expanded';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.footer__contacts-adress{
  font-family: 'RF Dewi Expanded';
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-main-text);
  font-weight: 600;
}
.footer__location{
  margin: 0 auto;
}
.footer__info{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-blue);
  text-align: right;
  margin-left: auto;
}
.footer__bot {
  display:flex;
  align-items: center;
}
.footer__politic-link {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: var(--ummc-orange);
  text-decoration: none;
}
.footer__bot-text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}
.footer__made-in {
  display: flex;
  align-items: center;
}
.made-in {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}
.footer__politic{
  flex-grow: 1;
  flex-basis: 0;
}
.footer{
  margin-top: 130px;
  background-color: var(--grey-bg);
}
.orange{
  color: var(--ummc-orange);
}
.footer__bot{
  padding-bottom: 22px;
}
@media (max-width: 1300px){
  .about__text-strong{
    font-size: 30px;
    line-height: 45px;
  }
  .about__text{
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 1200px){
  .about__inner{
    align-items: center;
  }
  .about__images-box{
    width: 575px;
    height: 644px;
  }
  .about__title{
    font-size: 75px;
    line-height: 80px;
    margin-bottom: 60px;
    margin-left: 50px;
  }
  .about__text-strong {
    line-height: 35px;
  }
  .about__text {
    line-height: 25px;
  }
}
@media (max-width: 1050px){
  .about__text-strong{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .about__text {
    line-height: 20px;
    font-size: 15px;
  }
  .about__inner{
  flex-direction: column;
  }
  .about__title {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 49px;
    margin-left: 19px;
  }
  .footer__contacts-phone{
    font-size: 14px;
  }
  .footer__text{
    font-size: 14px;
  }
  .footer__contacts-chart{
    font-size: 14px;
  }
  .footer__contacts-chart{
    font-size: 14px;
  }
  .footer__contacts-adress{
    font-size: 14px;
  }
  .footer__location-title{
    font-size: 14px;
  }
  .footer__location-text{
    font-size: 14px;
  }
  .footer__contacts{
    margin-right: 50px;
  }
}
@media (max-width: 900px){
  .footer__top{
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

  }
  .footer__location{
    margin: 0;;
  }
  .footer__info{
    margin: 0;
    text-align: left;
  }
  .footer__text{
    margin-top: 40px;
  }
  .footer__contacts-item +.footer__contacts-item{
    margin-bottom: 32px;
  }
  .footer__top{
    padding-bottom: 32px;
  }
}
@media (max-width: 600px){
  .about__text-strong{
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 48px;
  }
  .about__images-box{
    width: 386.19px;
    height: 440px;
  }
  .about__text{
    font-size: 14px;
    line-height: 24px;
  }
  .about__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-left: 0;
  }
  .about__images-box{
    width: 386.19px;
    height: 440px;
  }
  .footer__bot{
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer__bot-text{
    text-align: right;
  }
  .made-in{
    grid-column-start: span 2;
    text-align: center;
  }
  .footer-img{
    padding-top: 16px;
  }
  .footer__politic{
    font-size: 10px;
  }
  .about {
    padding: 64px 0 62px 0;
  }
  .activity {
    margin-top: 72px;
  }
  .activity__text {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
  }
  .carousel__item {
    height: 325px !important;
    width: 300px !important;
    margin-left: 0;
    margin-right: 0;
  }
  .slick-current {
    height: 400px !important;
    width: 300px !important
  }
  .carousel__inner {
    margin: 0 -21px;
  }
  section.solution > div:nth-child(1) {
    margin-top: 60px;
  }
  section.solution > div:nth-child(1) > h1:nth-child(1) {
    margin-bottom: 22px;
  }
  .solution-text, .solution-menu {
    width: 100% !important;
  }
  .container.solution {
    flex-wrap: wrap;
  }
  .solution-text .black {
    color: #202020B2;
  }
  .solution-text {
    margin-top: 22px !important;
  }
  .solution-menu-item-img {
    width: 118px !important;
  }
  .solution-menu-item-text {
    font-size: 18px !important;
    width: unset !important;
  }
  .solution-menu-item {
    align-items: flex-start !important;
    margin-bottom: 69px;
  }
  .solution-menu-item-img {
    opacity: 1 !important;
  }
  .footer {
    margin-top: 31px;
  }
  .carousel__item-text {
    font-size: 18px;
    margin: 48px 0 0 24px !important;
  }
  .carousel__item-description {
    margin: 24px !important;
  }
  .logo img {
    width: 264px
  }
  .header-greetings {
    padding: 14px 0 60px 0 !important;
    height: 483px;
    justify-content: flex-end !important;
  }
  .greetings span, .greetings {
    font-size: 27px !important;
  }
  .greetings-s {
    font-size: 12px !important;
  }
  .about__images-box {
    margin-left: -20px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .burger {
    width: 28px !important;
  }
  .main-axis {
    height: 483px !important;
  }
  .header-greetings {
    width: 100% !important;
  }
  .burger {
    display: block !important;
  }
  .header-more {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  .burger-menu {
    display: flex !important;
    position: fixed;
    flex-direction: column;
    width: 100vw;
    top: 69.1px;
    left: 0;
    height: calc(100vh - 69.1px);
  }
  .burger-menu .item {
    padding: 25px 32px;
    font-family: "RF Dewi Expanded";
    color: #fff;
  }
  .burger-about {
    background-color: var(--ummc-orange);
  }
  .burger-vacancies {
    background-color: var(--ummc-dark-blue);
  }
  .burger-links {
    background-color: var(--ummc-blue);
  }
  .burger-contacts {
    background-image: url('../images/bbg.png');
    flex-grow: 1;
  }
  .logo {
    position: fixed;
    padding: 14px 20px;
    top: 0;
    background-color: #fff;
    z-index: 2147483647;
  }
  .burger-menu {
    opacity: 0;
    pointer-events: none;
    z-index: 2147483647;
    transition: .4s;
  }
}
.burger-menu {
  display: none;
  overflow: scroll
}
.burger-stripe .sub {
  font-size: 16px;
  margin-top: 24px;
  line-height: 20px;
}
.main {
  font-size: 18px;
  font-weight: 600;
}
.sub {
  font-size: 12px;
  font-weight: 200;
  font-family: "Raleway";
  margin-top: 16px;
}
.main-2 a {
  color: #fff;
  text-decoration: none;
}
.main-2 {
  font-size: 14px;
}
.burger-stripe > p:nth-child(2) {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  padding: 24px 0;
}
.burger-contacts > p:nth-child(1) {
  margin: 15px 0 32px;
}
p.burger-about-text:nth-child(3) {
  margin-top: 10px;
}
p.burger-about-text:nth-child(3) > span:nth-child(1) {
  margin-left: 16px;
}
p.burger-about-text:nth-child(4), p.burger-about-text:nth-child(6) {
  margin-top: 32px;
  margin-bottom: 10px;
}
.burger {
  display: none;
}
.carousel__item {
  background-position: bottom right;
}
body {
  overflow-x: hidden;
}
@media (max-width: 400px){
  .about__images-box{
    width: 300px;
    height: 345px;
  }
}
.main-axis {
  height: 855px;
  display: flex;
  font-family: 'RF Dewi Expanded';
  flex-wrap: wrap;
}
.header-greetings {
  width: 43.472%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 49px 70px 72px 70px;
}
.header-info {
  width: 57%;
  display: flex;
  flex-direction: column;
}
.header-other {
  width: 43%;
}
.greetings {
  font-size: 48px;
  color: var(--ummc-main-text);
  font-family: 'RF Dewi Expanded';
  font-weight: 700;
}
.greetings span {
  color: var(--ummc-secondary-text);
  font-weight: 600;
  font-size: 36px;
}
.greetings-s {
  font-family: 'Raleway';
  margin-top: 32px;
  color: var(--ummc-main-text);
  font-size: 18px;
}
.header-contacts {
  height: 534px;
  background-image: url('../images/bbg.png');
  background-size: cover;
  padding: 60px 48px;
  color: #fff;
}
.header-contacts a {
  color: #fff;
}
.header-about {
  background-color: var(--ummc-orange);
  height: 321px;
  padding: 60px 48px 67px 48px;
  color: #fff;
}
.header-vacancies {
  height: 354px;
  background-color: var(--ummc-dark-blue);
}
.header-links {
  height: 501px;
  background-color: var(--ummc-blue);
}
.header-subtitle {
  font-size: 30px;
  margin-bottom: 32px;
  font-weight: 600;
  color: #fff;
}
.header-sub-content {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Raleway';
  margin-top: 32px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 18px;
}
a {
  text-decoration: none;
}
.header-about::after, .header-vacancies::after {
  content: url('../images/icon.svg');
  float: right;
}
.header-about .header-subtitle {
  height: 100%;
  margin: 0;
}
.header-vacancies, .header-links {
  padding: 60px 48px 67px 48px;
}
.header-label {
  color: #fff;
}
.header-about::after {
  content: url('../images/icon.svg')
}
.header-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-links a {
  color: #fff;
}
.header-link {
  display: flex;
  align-items: center; 
  gap: 30px; 
  font-family: 'Raleway';
  font-size: 18px;
}
.header-link::after {
  content: url('../images/icon.svg')
}
.solution > .container {
  margin-top: 186px;
}
.solution .about__title {
  margin-bottom: 42px;
}
.solution-main-link {
  color: var(--ummc-orange);
  font-family: "Raleway";
  font-weight: 600;
  display: flex;
  align-items: center;
  width: fit-content;
}
.solution-main-link::after {
  content: url('../images/icon.svg');
  filter: invert(54%) sepia(94%) saturate(2870%) hue-rotate(1deg) brightness(103%) contrast(104%);
  padding: 23px 36px;
  margin-left: 16px;
  border-radius: 55px;
}
.solution-main-link:hover::after {
  background-color: var(--ummc-orange);
  filter: none;
}
.container.solution {
  display: flex;
  padding: 0;
  gap: 3%;
}
.solution-text {
  width: 47%;
  margin-top: 40px;
}
.solution-menu {
  width: 50%;
}
.solution-menu-item-img {
  width: 37%;
  opacity: 0;
}
.solution-menu-item-text {
  width: 63%;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin: 0 32px
}
.solution-menu-item:hover .solution-menu-item-text {
  color: var(--ummc-orange);
}
.solution-menu-item:hover .solution-menu-item-img {
  opacity: 1;
}
.solution-menu-item {
  display: flex;
  align-items: center;
}
.solution-text .about__text {
  margin-top: 52px;
  max-width: 530px;
}
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.slick-dots button{
  font-size: 0;
  background: #4C5C6B;
  opacity: 0.2;
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  padding: 0;
}
.slick-active button{
  opacity: 1;
}
.carousel__item-description {
  margin: 24px 32px;
  font-family: 'Raleway';
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
  max-width: 226px;
}
.header-more {
  display: flex;
  width: 56.528%
}
.burger-about > p:nth-child(1)::after, 
.burger-vacancies > p:nth-child(2)::after,
p.sub:nth-child(1)::after,
.burger-stripe > p:nth-child(2)::after {
  content: url('../images/icon.svg');
  margin-left: 27px;
}
.burger-about > p:nth-child(1), 
.burger-vacancies > p:nth-child(2),
p.sub:nth-child(1),
.burger-stripe > p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}