:root {
  --main-bg: #FFFFFF;
  --grey-bg: rgba(237, 237, 237, 0.72);
  --ummc-orange: #FF7C00;
  --ummc-blue: #4C5C6B;
  --ummc-dark-blue: #1C242E;
  --ummc-main-text: #202020;
  --ummc-title-light: rgba(32, 32, 32, 0.15);
  --ummc-secondary-text: #202020B2;
  --title-size: 100px;
  --subtitle-size: 40px;
  --plain-big-size: 30px;
  --plain-text: 14px;
  
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
.container{
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.about{
  padding: 64px 0 137px 0;
  background-color: var(--grey-bg);
}
.about__title{
  font-weight: 600;
  font-size: 100px;
  line-height: 144px;
  letter-spacing: -0.03em;
  color: var(--ummc-title-light);
  margin-left: 96px;
  font-family: 'RF Dewi Expanded';
  margin-bottom: 85px;
}
.about__inner{
  display: flex;
  gap: 80px;
}
.about__img1{
  margin-left: 226px;
  margin-top: -135px;
}
.about__text + .about__text{
  margin-top: 56px;
}
.about__text-strong{
  font-family: 'RF Dewi Expanded';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.03em;
  color: var(--ummc-secondary-text);
  margin-bottom: 56px;
}
.black{
  color: var(--ummc-main-text);
}
.about__text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--ummc-main-text);
}
.about__text-box{
  max-width: 543px;
}
.activity__text{
  color: var(--ummc-orange);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 44px;
  max-width: 944px;
}
.carousel__item-text{
  font-family: 'RF Dewi Expanded';
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: var(--main-bg);
  margin: 32px 0 0 32px;

}
.carousel__item{
  width: 392px;
  height: 455px;
}
.carousel__item1{
  background-image: url(../images/po.jpg);
}
.carousel__item2{
  background-image: url(../images/support.jpg);
}
.carousel__item3{
  background-image: url(../images/re.jpg);
}
.carousel__item4{
  background-image: url(../images/po.jpg);
}
.footer__top{
  display: flex;
  padding: 66px 0 71px;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(76, 92, 107, 0.12);
  margin-bottom: 16px;
}
.footer__contacts-item +.footer__contacts-item{
  margin-top: 34px;
}
.footer__contacts{
  margin-right: 80px;
}
.footer__contacts-phone{
  font-family: 'RF Dewi Expanded';
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-main-text);
  margin-bottom: 4px;
  font-weight: 400;
}
.footer__contacts-chart{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  color: var(--ummc-blue);
  font-weight: 400;

}
.contacts__days{
  margin-right: 16px;
}
.footer__contacts-mail{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  color: var(--ummc-blue);
  margin-bottom: 4px;
  font-weight: 400;
}
.footer__location-title{
  font-family: "Raleway";
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 400;
}
.footer__location-text{
  font-family: 'RF Dewi Expanded';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer__contacts-adress{
  font-family: 'RF Dewi Expanded';
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-main-text);
  font-weight: 400;
}
.footer__location{
  margin: 0 auto;
}
.footer__info{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--ummc-blue);
  text-align: right;
  margin-left: auto;
}
.footer__bot {
  display:flex;
  align-items: center;
}
.footer__politic-link {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: var(--ummc-orange);
  text-decoration: none;
}
.footer__bot-text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
}
.footer__made-in {
  display: flex;
  align-items: center;
}
.made-in {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}
.footer__politic{
  flex-grow: 1;
  flex-basis: 0;
}
.footer{
  background-color: var(--grey-bg);
}
.orange{
  color: var(--ummc-orange);
}
.footer__bot{
  padding-bottom: 22px;
}
@media (max-width: 1300px){
  .about__text-strong{
    font-size: 30px;
    line-height: 45px;
  }
  .about__text{
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 1200px){
  .about__inner{
    align-items: center;
  }
  .about__images-box{
    width: 575px;
    height: 644px;
  }
  .about__title{
    font-size: 75px;
    line-height: 80px;
    margin-bottom: 60px;
    margin-left: 50px;
  }
  .about__text-strong {
    line-height: 35px;
  }
  .about__text {
    line-height: 25px;
  }
}
@media (max-width: 1050px){
  .about__text-strong{
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .about__text {
    line-height: 20px;
    font-size: 15px;
  }
  .about__inner{
  flex-direction: column;
  }
  .about__title {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 49px;
    margin-left: 19px;
  }
  .footer__contacts-phone{
    font-size: 14px;
  }
  .footer__text{
    font-size: 14px;
  }
  .footer__contacts-chart{
    font-size: 14px;
  }
  .footer__contacts-chart{
    font-size: 14px;
  }
  .footer__contacts-adress{
    font-size: 14px;
  }
  .footer__location-title{
    font-size: 14px;
  }
  .footer__location-text{
    font-size: 14px;
  }
  .footer__contacts{
    margin-right: 50px;
  }
}
@media (max-width: 900px){
  .footer__top{
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

  }
  .footer__location{
    margin: 0;;
  }
  .footer__info{
    margin: 0;
    text-align: left;
  }
  .footer__text{
    margin-top: 40px;
  }
  .footer__contacts-item +.footer__contacts-item{
    margin-bottom: 32px;
  }
  .footer__top{
    padding-bottom: 32px;
  }
}
@media (max-width: 600px){
  .about__text-strong{
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 48px;
  }
  .about__images-box{
    width: 386.19px;
    height: 440px;
  }
  .about__text{
    font-size: 14px;
    line-height: 24px;
  }
  .about__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-left: 0;
  }
  .about__images-box{
    width: 386.19px;
    height: 440px;
  }
  .footer__bot{
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .footer__bot-text{
    text-align: right;
  }
  .made-in{
    grid-column-start: span 2;
    text-align: center;
  }
  .footer-img{
    padding-top: 16px;
  }
  .footer__politic{
    font-size: 10px;
  }

}

@media (max-width: 400px){
  .about__images-box{
    width: 300px;
    height: 345px;
  }
}